.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--primary-color); */
  color: #E0E0E0;
  border: 2px solid #831dff90;
  max-width: 400px;
  width: 100%;
  padding: 20px;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input{
  margin: 5px 0;
  padding: 15px;
  background-color: #1F1B24;
  color: #E0E0E0;
  border: 2px solid #831dff90;
  border-radius: 4px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .login-container{
    gap: 10px;
    width: 80%;
  }
  .login-input{
    width: 80%;
    padding: 20px;
    font-size: 15px;
  }
}

.logo-login{
  background-color: var(--background-color);
  position: absolute;
  top: -45px;
  margin-left: 30px;
  width: 80px;
  height: 80px;
}

.options-menu{
  border-top: 2px solid #831dff90;
  padding-top: 10px;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.fields{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-password{
  width: 60%;
  margin-top: 10px;
}