.TransactionPage {
  padding: 2rem 1rem;
  margin-top: 1.5rem;
}

.formInput {
  width: 50%;
}
.field {
  margin-block: 10px;
  display: flex;
  flex-direction: column;
}
.transaction-loader{
  margin-top: 25px;
}