/* FriendList.css */
.friend-list ul {
  list-style: none;
  padding: 0;
}

.friend-list li {
  background-color: var(--primary-color);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color var(--transition-duration);
  cursor: pointer;
}

.friend-list li:hover {
  background-color: var(--hover-color);
  border-color: #BB86FC;
}

.friend-list li span {
  color: var(--accent-color);
}

.friend-list-total{
  font-size: 1.5rem;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 20px;
  color: #BB86FC;
  p{
    margin: 0;
    padding: 0;
  }
}

.total{
  font-size: 2rem;
 }

 .friend-list-title{
  margin: 0.6em 0;
  padding: 0;
  font-size: 2rem;
 }

 .verdict{
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }

 @media screen and (max-width: 768px) {
  .verdict{
    display: flex;
    gap: 2.3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   }
   .friend-list-total{
    font-size: 1.3rem;
    gap: 1rem;
   }

   .total{
    font-size: 1.5rem;
   }

  }

  .get{
    color: rgb(30, 164, 30);
  }

  .owe{
    color: rgb(240, 64, 64);
  }