/* FriendAccount.css */
.friend-account input,
.friend-account button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: var(--border-radius);
}

.friend-name{
  font-size: 2em;
}

.friend-account input {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 60%;
  border: 2px solid #831dff90;
}
.friend-account input:focus{
    outline: none;
    border-color: #BB86FC;
}
.friend-account button {
  width: 100px;
  margin: 5px;
  padding: 10px 20px;
  background-color: #1F1B24;
  color: #E0E0E0;
  border: 2px solid #BB86FC;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.friend-account button:hover {
  background-color: #9a67ea;
}

.friend-account ul {
  list-style: none;
  padding: 0;
}

.friend-account li {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  margin-top: 0.75rem;
  padding: 0.75rem;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
.friend-balance{
  font-size: 1.3em;
  font-weight: 600;
  color: #BB86FC;
}

.font-20px{
  font-size: 20px;
}

.mb-30px{
  margin-bottom: 30px;
}
.mb-10px{
  margin-bottom: 10px;
}


.transactions-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: #1F1B24;
  /* color: #BB86FC; */
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.transactions-table th, .transactions-table td {
  padding: 14px 18px;
  text-align: left;
  border-bottom: 1px solid #984bf7;
}

.transactions-table th {
  background: linear-gradient(90deg, #831dff90, #984bf7);
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.transactions-table tr{
  cursor: pointer;
}

.transactions-table tr:hover {
  background-color: #2b2535;
  transition: background-color 0.3s ease;
}

.transactions-table td:first-child,
.transactions-table th:first-child {
  border-left: none;
}

.transactions-table td:last-child,
.transactions-table th:last-child {
  border-right: none;
}

@media screen and (max-width: 768px) {
  .transactions-table th, .transactions-table td {
    padding: 10px 10px;
    text-align: left;
    border-bottom: 1px solid #984bf7;
  }
  
  .transactions-table th {
    background: linear-gradient(90deg, #831dff90, #984bf7);
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .friend-account input {
    font-size: 12px;
    padding: 15px;
  }
}