.transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.transaction-table th {
  text-align: left;
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

.transaction-table td {
  padding: 4px;
}

.delete-btn {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.delete-btn:hover {
  color: red;
}
.mode-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 14px;
}

.mode-toggle span {
  color: #777;
}

.mode-toggle .active-label {
  /* font-weight: 600; */
  color: #BB86FC;
}

/* Switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

/* Hide checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider background */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  border-radius: 30px;
  transition: 0.3s;
}

/* Slider circle */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* Checked state */
.switch input:checked + .slider {
  background-color: #bb86fc;
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}

.btn-grp{
  display: flex;
  gap: 10px;
  /* justify-content: center; */
}